nav{
    background-color: rgb(228, 228, 228);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

main{
    padding: 48px 24px;
    background-color: rgb(27, 168, 145);
}